.page.index {
  header {
    background-color: #f8f8f8;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding: 19px 10px;
    .add {
      float: right;
      color: #1698ff;
      font-size: 18px;
    }
  }

  .searchbox {
    background-color: #cac9cf;
    padding: 10px;
    font-size: 16px;
    position: relative;

    .placeholder {
      color: #cac9cf;
      position: absolute;
      font-size: 14px;
      text-align: center;
      top: 20px;
      left: 0;
      right: 0;
    }

    input {
      font-size: 14px;
      height: 35px;
      border: 0;
      width: 100%;
      border-radius: 3px;
      outline: 0;
      padding: 1px 10px;
      box-sizing: border-box;
      text-align: center;
    }

    input:focus + .placeholder {
      display: none;
    }
  }
  .contact-list {
  }
}
